name: Windows Build

on:
  push:
    tags:
      - "*"

  workflow_dispatch:
    inputs:
      logLevel:
        description: "Manual Testing"
        required: true
        default: "Manual Testing"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: .

    - uses: actions/upload-artifact@v2
      with:
        name: hptlc_exported-${{github.ref_name}}
        path: /dist/windows